.searchContainer{
    display: inline-block;
}

.FromCol{
   
     
     position: absolute;
     margin: 50px 250px;
     width: 70%;
   
}

.From{
   
    width: 10%;
    background-color:snow;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.FromOption{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.date{
    display: inline;
}
.child{
    /* width:30px; */
    margin:auto 400px
    
}
input{
    color: black;
}
.Table{
    position: relative;
    margin: 300px 300px;
    /* left: ; */
}
