.body{
 width: 80%;
 /* margin : auto 300px; */
 position:absolute;
 box-sizing: border-box;
 display: block;

}

.logobut{
    position:relative;
    left:100%;
    size: 25px;
    
    
}

.signuplogo{
    width: 40px;
    position: relative;
}


.hide{
    visibility: hidden;
}
.table{
  position: relative;
  left :70px;
  top: 50px;
  
}
